 <h1 class="my-4">Genre</h1>
                <div class="list-group">
                    <a href="fiction" class="list-group-item">Fiction</a>
                    <a href="thriller" class="list-group-item">Thriller</a>
                    <a href="education" class="list-group-item">Education</a>
                    <a href="biography" class="list-group-item">Biography</a>                                        
                    <a href="health" class="list-group-item">Health</a>
                    <a href="mind_body" class="list-group-item">Mind Body Spirit</a>
                    <a href="home_garden" class="list-group-item">Home & Garden</a>
                    <a href="cooking" class="list-group-item">Cooking</a>



                </div>     
                    <p align="center"><a href="tel:018888888">Call us: 01:8888888</a></p>
                    <div id="social">
                        <p>Connect on Social</p>
                            <a href="https://facebook.com"><i class="fa fa-facebook fa-2x text-center"></i></a> 
                            <a href="https://youtube.com"><i class="fa fa-youtube fa-2x text-center"></i></a>                                 
                            <a href="https://twitter.com"><i class="fa fa-twitter fa-2x text-center"></i></a> 
                    </div>
                    
                <!-- video embed of Ronnie Drew -->
                <iframe class="frame" width="100%" height="auto" src="https://www.youtube.com/embed/DZwYtDAN0wg?list=PLljRizOmgkdij-su0ulSmv8zoTzDa8vXx" frameborder="0" allowfullscreen></iframe>    
                

            